@include keyframe(fade-in) {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@include keyframe(fade-out) {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@include keyframe(fade-in-delay) {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@include keyframe(fade-left) {
	from {
		opacity: 0;
		transform: translateX(16px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@include keyframe(waterfall-drop) {
	0% {
		transform: scale(2) translateY(-400%);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}

@include keyframe(scale-in) {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

@include keyframe(scale-out-fade) {
	0% {
		transform: scale(1.25);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@include keyframe(scale-in-fade) {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@include keyframe(stretch-in) {
	0% {
		transform: scaleX(0.2);
	}
	100% {
		transform: scaleX(1);
	}
}

@include keyframe(squeeze-up) {
	0% {
		transform: scale(1.1) translateY(10%);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}

@include keyframe(zoom-down) {
	0% {
		transform: scale(0.9) translateY(-10%);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}

@include keyframe(flip-down) {
	0% {
		transform: rotate3d(1, 0, 0, 45deg) translateY(-10%);
	}
	50% {
		transform: translateY(-10%);
	}
	100% {
		transform: rotate3d(0, 0, 0, 0) translateY(0);
	}
}

@include keyframe(stretch-in-full) {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

@include keyframe(fade-in-down) {
	from {
		opacity: 0;
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@include keyframe(slide-left) {
	from {
		transform: translateX(60px);
	}
	to {
		transform: translateX(0);
	}
}

@include keyframe(slide-right) {
	from {
		transform: translateX(-60px);
	}
	to {
		transform: translateX(0);
	}
}

@include keyframe(fade-up) {
	from {
		opacity: 0.2;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@include keyframe(fade-left) {
	from {
		opacity: 0;
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@include keyframe(slide-left-width) {
	from {
		width: 0;
	}
	to {
		width: 50vw;
	}
}

@include keyframe(slide-up) {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@include keyframe(slide-right) {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@include keyframe(slide-down) {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@include keyframe(slide-left) {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@include keyframe(delay-left) {
	0% {
		transform: translateX(100%);
	}
	25% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@include keyframe(slide-up-exit) {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-50%);
	}
}

@include keyframe(slide-up-exit-full) {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@include keyframe(slide-right-exit) {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(25%);
	}
}

@include keyframe(slide-right-exit-full) {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@include keyframe(slide-down-exit) {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(50%);
	}
}

@include keyframe(slide-down-exit-full) {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

@include keyframe(slide-left-exit) {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-25%);
	}
}

@include keyframe(slide-left-exit-full) {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@include keyframe(slide-down-short) {
	0% {
		transform: translateY(-15%);
	}
	100% {
		transform: translateY(0);
	}
}

@include keyframe(full-left) {
	0% {
		transform: translateX(0);
		opacity: 0;
		z-index: 1000;
	}

	25% {
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
	}
}

@include keyframe(full-left-abs) {
	0% {
		transform: translateX(100%);
		opacity: 0;
		z-index: 1000;
	}

	25% {
		opacity: 1;
	}
	100% {
		transform: translateX(0);
	}
}

@include keyframe(fade-up-popup) {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@include keyframe(bounceInUp) {
	from,
	60%,
	65%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.215, 0.215, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(0, 3000px, 0);
	}

	60%,
	65% {
		opacity: 1;
		transform: translate3d(0, -20px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
@include keyframe(bounceOutDown) {
	20% {
		transform: translate3d(0, 10px, 0);
	}

	40%,
	45% {
		transform: translate3d(0, -20px, 0);
	}

	to {
		transform: translate3d(0, 2000px, 0);
	}
}
@include keyframe(slideOutDown) {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(0, 100%, 0);
	}
}

@include keyframe(slideInUp) {
	from {
		transform: translate3d(0, 100%, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@include keyframe(pulse) {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgb(25, 63, 74, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgb(25, 63, 74, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgb(25, 63, 74, 0);
	}
}

@include keyframe(pulse-warning) {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgb(255, 185, 0, 0.2);
	}

	70% {
		box-shadow: 0 0 0 8px rgb(255, 185, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgb(255, 185, 0, 0);
	}
}

@include keyframe(pulse-down) {
	0% {
		color: #da4167;
	}

	70% {
		color: #da4167;
	}

	100% {
		color: white;
	}
}

@include keyframe(pulse-up) {
	0% {
		color: #2fe1b9;
	}

	70% {
		color: #2fe1b9;
	}

	100% {
		color: white;
	}
}

@include keyframe(pulse-down-dark) {
	0% {
		color: #da4167;
	}

	70% {
		color: #da4167;
	}

	100% {
		color: #707180;
	}
}

@include keyframe(pulse-up-dark) {
	0% {
		color: #2fe1b9;
	}

	70% {
		color: #2fe1b9;
	}

	100% {
		color: #707180;
	}
}

@include keyframe(move-up-and-down) {
	0% {
		transform: translateY(70px);
	}
	100% {
		transform: translateY(0);
	}
}

@include keyframe(pulse-load) {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -135% 0%;
	}
}

@include keyframe(pulse-red) {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(160, 29, 29, 0.24);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(160, 29, 29, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(160, 29, 29, 0);
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
