$tiny: 350px;
$mini: 400px;
$mobile: 450px;
$tablet: 600px;
$desktop: 900px;
$wide: 1300px;

/* Colors */
$light-gray: #707180;
$light-purple: #7375b6;
$darkish-purple: #7375b6ab;
$lighter-purple: #8587cf;
$overlay-purple: #232540;
$white: #fff;
$light-border: #d8d8d81c;
$dark-purple: #14192f;
$base-green: #2fe1b9;
$transparent-green: #193f4a;
$transparent-background: #14192fb6;

$color: #70718079;
$background-dark: #141a2e;
